<h1>Members list</h1>
<div>
	<a href="#newMember">Add member</a>	
</div><br>
<!--<div>Select type: <select ng-model="types.selectedType" ng-options="type.type for type in types.availableTypes track by type.id" required></select></div>-->
<br>
<div>
	<table>
		<tr>
			<td style="width:30px"><b>id</b></td>
			<td style="width:200px"><b>e-mail</b></td>
			<td style="width:100px"><b>type</b></td>
            <td style="width:200px"><b>name</b></td>
			<td style="width:50px"></td>
			<td style="width:50px"></td>
			<td style="width:50px"></td>
		</tr>
        <tr *ngFor="let member of members">
            <td>{{member.Id}}</td>
            <td>{{member.UserData.Email}}</td>
            <td>{{member.UserData.Type}}</td>
            <td>{{member.PersonalData.NamePrefix}} {{member.PersonalData.NameFirst}}  {{member.PersonalData.NameInfix}} {{member.PersonalData.NameLast}} {{member.PersonalData.NameSuffix}}</td>
            <td><a routerLink="member/{{member.Id}}">View</a></td>
            <td><a routerLink="edit/{{member.Id}}">Edit</a></td>
            <td><a routerLink="unregister/{{member.Id}}">Unregister</a></td>
        </tr>
	</table>
</div>