<div class="row">
    <div class="col-xs-12">
        <h1>Edit Members</h1>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Email address 22 {{master}}
                <input type="text" class="form-control" placeholder="">
            </label>
        </div>

    </div>
    <div class="col-md-6">
        Dit is de gebruikerData: {{user}} <br/>
        UserPersonal: {{userDataPersonal}} <br/>
        <input type="submit" ng-value="showElements.confirm.value" ng-show="showElements.confirm.view"
               ng-click="confirm(user, userDataPersonal)">
        <input type="button" ng-value="showElements.cancel.value" ng-show="showElements.cancel.view"
               ng-click="cancel()">
    </div>


</div>